@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%; /* Ensure html takes full width */
  overflow-x: hidden; /* Prevent horizontal scrollbars from affecting width */
}

body {
  min-height: 100%;
  width: 100%; /* Ensure body takes full width */
  margin: 0;
  padding: 0; /* Ensure no default padding */
  background-image: url('/background.jpg'); /* Ensure 'background.jpg' is in your public folder */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden; /* Prevent horizontal scrollbars from affecting width */
}

body::before {
  content: "";
  position: fixed; /* Fixed to the viewport */
  top: 0;
  left: 0;
  width: 100%;   /* Cover full width */
  height: 100%;  /* Cover full height */
  background-color: rgba(0, 0, 0, 0.7); /* Opacity for the overlay */
  z-index: 0; /* Sits above body background, but below #root content */
}

#root {
  position: relative;    /* Establishes a stacking context for z-index to work */
  z-index: 1;          /* Ensures #root content is rendered on top of the body::before overlay */
  min-height: 100vh;   /* Ensures the app container can fill the viewport height */
  overflow-x: hidden;  /* Prevent horizontal overflow from #root's children */
  /* background-color: transparent; /* Optionally, be explicit that #root has no background if needed */
}

/* Consolidated media query for mobile responsiveness */
@media (max-width: 768px) {
  body {
    background-attachment: scroll; /* Changes to scroll for better mobile performance and behavior */
    background-image: url('/background.jpg'); /* Path to your mobile-optimized image */
    /* You might also need to adjust background-position for the mobile image if necessary */
    min-height: 100%;
    width: 100%; /* Ensure body takes full width */
    margin: 0;
    padding: 0; /* Ensure no default padding */
    background-image: url('/background.jpg'); /* Ensure 'background.jpg' is in your public folder */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden; /* Prevent horizontal scrollbars from affecting width */
  }
}